---
import FooterNav from "@/components/footer-nav.astro";
import AboutPlatform from '../components/about-platform.astro';
import FilterCards from '../components/filter-cards.astro';
import Hero from '../components/hero.astro';
import Intro from '../components/intro.astro';
import ProviderSpotlight from '../components/provider-spotlight.astro';
import ProvidersList from '../components/providers-list.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="KI-Anbieter.ch - Schweizer KI-Anbieter finden">
  <main>
    <Hero />
    <Intro />
    <FilterCards />
    <ProviderSpotlight />
    <AboutPlatform />
    <ProvidersList />
  </main>
  <FooterNav />
</Layout>
